---
import Layout from "../layouts/Layout.astro";
import Form from "../components/form";
import BannerImage from "../components/banner-image.astro";
---

<Layout title="Pre-registering to visit Sumipol booth for Metalex 2023">
  <div
    class="max-w-screen-md mx-auto flex flex-col justify-center items-center min-h-screen py-6 px-4"
  >
    <div class="shadow-medium rounded-md bg-white">
      <BannerImage />
      <Form client:load />
    </div>
  </div>
</Layout>
