---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Pre register for Sumipol x Metalex 2023"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo-smp.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta
      name="description"
      content="Pre register for Sumipol x Metalex 2023"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="Pre register for Sumipol x Metalex 2023" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Register - Sumipol x Metalex 2023" />
    <meta
      property="og:description"
      content="Pre register for Sumipol x Metalex 2023"
    />
    <meta property="og:image" content="https://sumipol-x-metalex-2023.vercel.app/banner.webp" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="https://sumipol-x-metalex-2023.vercel.app/banner.webp" />
    <meta
      property="twitter:domain"
      content="sumipol-x-metalex-2023.vercel.app"
    />
    <meta
      property="twitter:url"
      content="https://sumipol-x-metalex-2023.vercel.app/"
    />
    <meta name="twitter:title" content="Register - Sumipol x Metalex 2023" />
    <meta
      name="twitter:description"
      content="Pre register for Sumipol x Metalex 2023"
    />
    <meta name="twitter:image" content="https://sumipol-x-metalex-2023.vercel.app/banner.webp" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-blue-100 via-blue-300 to-blue-500 scrollbar scrollbar-w-[10px] scrollbar-h-[10px] scrollbar-thumb-[#b1b1b1] hover:scrollbar-thumb-[#858585] scrollbar-track-slate-100 scrollbar-thumb-rounded-full"
  >
    <main>
      <slot />
    </main>
    <footer class="text-center text-white text-xs drop-shadow-lg py-2 mt-10">
      COPYRIGHT ©2023 SUMIPOL CORPORATION LIMITED
    </footer>
  </body>
</html>
